h1{
  text-align: center;
  margin-top: 50px;
  
}

.calculator {
  text-align: center;
  width: 550px;
  margin: 70px auto;
  background: #97c2f6;
  padding: 20px;
  border-radius: 15px;
  
}

input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border-radius:15px ;
}

.buttons button {
  width: 100px;
  height: 80px;
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15px;
}
